
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.well {
  
  height: 800px;
  width: 500px;
  background-color: aqua;
  
}
.well p{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 25px;

}
.form-group{
  margin-left: 5%; 
}

input[type=text], select {
  width: 80%;
  height: 35px;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.select-style select {
  padding: 5px 8px;
  margin-top: -60px;
  width: 180%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
}

.select-style:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}
.select-style select:focus {
  outline: none;
}

.custom-file input{
  height: 500px;
}
textarea{
  width: 80%;
  height: 100px;
  border-radius: 4px;
  padding: 6px 10px;
  
}